.weather-unit {
  font-size: 15px;
  position: relative;
  top: -40px;
  margin: 0;
}

h1 {
  font-size: 80px;
  margin-bottom: 50px;
  margin-top: 10px;
  padding-left: 30px;
  font-weight: 900;
  color: dimgrey;
}
